/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
}

header {
  background-image: url("../images/mathews.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #18add2;
  text-decoration: none;
}

a:hover {
  color: #35bee8;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#about,
#services,
#contact,
#questions {
  padding: 40px 68px;
}

.section-title {
  margin-bottom: 1.5rem;
}

.section-title h2 {
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0px 0 20px 0;
  text-transform: uppercase;
}

.section-title h2::after {
  content: "";
  background: #4ccbeb;
  display: inline-block;
  height: 1px;
  width: 120px;
  margin: 4px 10px;
}

.section-title p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -15px 0 15px 0;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the last value (0.5) to change the overlay opacity */
  z-index: 1;
}

#header .container {
  position: relative;
  z-index: 2;
  margin: 0 56px;
  padding: 0 12px;
}

#header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}

#header h1 a,
#header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  margin-top: 20px;
}

#header h2 span {
  color: #fff;
  border-bottom: 2px solid #18add2;
  padding-bottom: 4px;
}

/* Navigation Menu - Desktop Navigation */
.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navbar li {
  position: relative;
}

.navbar li + li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #18add2;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #fff;
}

/* Navigation Menu - Mobile Navigation */

.mobile-nav-toggle {
  font-size: 28px;
  cursor: pointer;
  visibility: hidden;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    visibility: visible;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li + li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

/* Social links */

#header .social-links {
  display: flex;
  margin-top: 40px;
}

#header .social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 8px;
  height: 40px;
  width: 40px;
}

#header .social-links a:hover {
  background: #18add2;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .social-links {
    margin-top: 15px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #header {
    height: auto;
    padding: 80px 0;
  }

  #header .container {
    margin: 0 20px;
  }

  #header h1 {
    font-size: 32px;
  }

  #header h2 {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  header {
    background-position: 70% center;
  }
}

@media (max-width: 992px) {
  header {
    background-position: 80% center;
  }
}

@media (max-width: 768px) {
  header {
    background-position: 90% center;
  }
}

@media (max-width: 576px) {
  header {
    background-position: 90% center;
  }
}

/*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .content {
  display: block;
  overflow: hidden; /* Ensures the container wraps around floated content */
  max-width: 50rem;
}

#about .about-img {
  float: left;
  margin: 0 20px 20px 0;
  width: 284px;
  height: auto;
}

#about .content h3 {
  color: #18add2;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
}

#about .content p {
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 15px;
  line-height: 22px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-img {
    float: none; /* Removes float on smaller screens */
    display: block; /* Ensures the image is displayed as a block element */
    margin: 0 auto 20px; /* Centers the image and adds bottom margin */
  }

  #about .content {
    padding: 0 20px; /* Adds some padding for better readability on smaller screens */
  }
}

/*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/

#services .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#services .icon-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 65px 25px;
  text-align: center;
  transition: all ease-in-out 0.3s;
  height: 350px;
  width: 320px;
}

#services .icon-box:hover {
  background: #18add2;
  transform: translateY(-5px);
}

#services .icon-box:hover .icon #consulting {
  background: #fff;
  content: url("../images/icons/consultor_blue.png");
}

#services .icon-box:hover .icon #mentorship {
  background: #fff;
  content: url("../images/icons/mentoria_blue.png");
}

#services .icon-box:hover .icon #marketing {
  background: #fff;
  content: url("../images/icons/marketing_blue.png");
}

.icon {
  margin-bottom: 20px;
}

.icon img {
  background: #18add2;
  border-radius: 5px;
  box-shadow: -8px -8px rgba(255, 255, 255, 0.15);
  padding: 10px;
  height: 45px;
  width: 45px;
}

#services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

#services .icon-box p {
  hyphens: auto;
  line-height: 20px;
  font-size: 14px;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.05em;
}

@media (max-width: 992px) {
  #services .row {
    grid-template-columns: 1fr 1fr;
  }
  #services .icon-box {
    width: 85%;
    height: auto;
  }
}

@media (max-width: 768px) {
  #services .row {
    grid-template-columns: 1fr;
  }

  #services .icon-box {
    width: 85%;
    height: auto;
  }
}

/*--------------------------------------------------------------
  # FAQ
  --------------------------------------------------------------*/

.faq-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-wrapper details p {
  text-wrap: balance;
}

details {
  background-color: #303030;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
  width: 60rem;
}

summary {
  padding: 0.5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #000;
  margin-bottom: 0.5em;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] p {
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.05em;
  padding: 0.5em 1em;
}

@media (max-width: 992px) {
  details {
    width: 90%;
  }
}

@media (max-width: 768px) {
  details {
    width: 100%;
  }

  summary {
    font-size: 1.2rem;
  }
}

/*--------------------------------------------------------------
  # Contacts
  --------------------------------------------------------------*/

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#contact .info-box {
  color: #444444;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
}

#contact .info-box i.fa-solid {
  color: #18add2;
  background: rgba(255, 255, 255, 0.1);
  float: left;
  font-size: 24px;
  border-radius: 50%;
  padding: 14px;
}

#contact .info-box h3 {
  color: rgba(255, 255, 255, 0.05);
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

#contact .info-box p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 0 68px;
}

#contact .info-box #social-links {
  display: flex;
  margin: 5px 0 0 68px;
}

#contact .info-box #social-links a {
  color: #fff;
  margin-right: 12px;
}

#contact .info-box #social-links a:hover {
  color: #18add2;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
  margin-top: 20px;
}

input,
textarea {
  color: #fff;
  background: rgba(255, 255, 255, 0.08);
  border-style: none;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.08);
}

textarea {
  resize: vertical;
}

#assunto,
#mensagem {
  grid-column: 1 / -1;
}

button {
  color: #fff;
  cursor: pointer;
  grid-column: 1 / -1;
  justify-self: center;
  background: #18add2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  border: none;
  border-radius: 4px;
  max-width: 170px;
  width: 100%;
  padding: 10px 30px;
}

button:hover {
  background: #1592b1;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }

  form {
    grid-template-columns: 1fr;
  }

  #contact .info-box {
    text-align: center;
  }

  #contact .info-box i.fa-solid {
    float: none;
    margin-bottom: 10px;
  }

  #contact .info-box h3,
  #contact .info-box p,
  #contact .info-box #social-links {
    margin-left: 0;
  }

  #contact .info-box #social-links {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #about,
  #services,
  #contact,
  #questions {
    padding: 40px 20px;
  }
}

footer {
  color: #1b1b1b;
  font-size: 14px;
  margin: 20px 20px;
}
footer p {
  margin-top: 10px;
  text-align: center;
}

.footer-legal {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-legal a {
  color: #1b1b1b;
  text-decoration: none;
}

.footer-legal a:hover {
  text-decoration: underline;
}
